# Models & Large Checkpoints
*.pth
*.pt
*.onnx

# Data & Datasets
data/
ff_raw/
FaceForensics-master/

# Environments & Caches
env/
venv/
__pycache__/
*.pyc

# IDE & OS
.vscode/
.idea/
.DS_Store

1m_faces_91__99/
*.zip
